/* src/components/Navbar.css */
.navbar {
  background-color: #1b1b1b;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  position: sticky;
  top: 0;
  z-index: 100;
}

.nav-links a {
  margin-left: 25px;
  color: #fff;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #1ed760; /* highlight color */
}

.logo {
  font-size: 22px;
  font-weight: bold;
}
