/* src/App.css */
.app {
  min-height: 100vh;
  background-color: #121212; /* main dark background */
  color: #fff;
}

/* Scrollbar styling (optional) */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #1db954;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background: #121212;
}
