/* src/index.css */
body, html {
  margin: 0;
  padding: 0;
  background-color: #121212; /* dark page background */
  color: #000000;
  font-family: 'Segoe UI', sans-serif;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}
